.change-password{
    background-color: rgb(26, 255, 212);
    border-radius: 0.5rem;
    width: 10rem;
    height: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.change-password-container{
    height: 100vh;
}

.title{
    margin-top: 5rem;
}